.window-panel {
    background-color: #100c0c;
    color: rgb(255, 255, 255);
    border-radius: 0.4rem;
    box-shadow: 0px 0px 16px 10px rgba(255, 255, 255, 0.253);

    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  .window-panel-closed{
    visibility: hidden;
  }


  .window-panel-1 {
    width: 55%;
    min-width: 350px;
    max-width: 1300px;

  }
  
  .window-panel-2 {
    width: 40%;
    min-width: 350px;
    max-width: 1000px;

    background-color: #2E2E2E;

    /* it for border radius to not be cut by images  */
    overflow: hidden;
  }
  
  .window-panel-3 {
    width: 45%;
    min-width: 350px;
    max-width: 700px;

    overflow: hidden;
  }

  .window-panel-4 {
    width: 35%;
    min-width: 350px;
    max-width: 700px;
  }


  .window-panel-5 {
    width: 30%;
    min-width: 350px;
    max-width: 650px;
    margin: 5.5%;

    box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.6);
  }

  .window-panel-6 {
    width: 30%;
    min-width: 350px;
    max-width: 650px;
    margin: 5.5%;
    

    box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.6);
  }
